<div class="cart-container">
    <section class="cartIcon">
      <p class="project-name">CART SYSTEM</p>
      <div class="cart-details">
        <img src="../assets/images/carticon.png" alt="cart-icon">
        <div class="hr"></div>
        <p class="cartCount">{{ cartItems$ | async }}</p>
        <div class="clear-cart" (click)="cartItems.clearCart()">
          <i class="fa-solid fa-ban"></i>
          <p>Clear</p>
        </div>
      </div>
    </section>
    
    <section class="cartItems">
      @if(productData$ | async; as product) {
        @for(item of product; track item) {
          <div class="item">
            <img [src]="item.image.mobile" [alt]="item.category">
            <p class="item-name">{{  item.name }}</p>
            @if(cartItems.isIncart(item)) {
              <i class="fa-solid fa-minus remove-from-cart-icon"
                  (click)="removeFromCart(item)"    
              ></i>
            }
            @else {
              <i class="fa-solid fa-plus add-to-cart-icon" 
                  (click)="addtoCart(item)"
              ></i>
            }
          </div>
        }
      }
    </section>
  </div>