<div class="cart-container">
  <section class="cartIcon">
    <p class="project-name">Cart System</p>
    <div class="cart-details">
      <img src="../assets/images/carticon.png" alt="cart-icon">
      <div class="hr"></div>
      <p class="cartCount">10</p>
    </div>
  </section>
  
  <section class="cartItems">
    <div class="item">
      <img src="../assets/images/image-baklava-mobile.jpg" alt="baklava">
      <p class="item-name">Baklava</p>
    </div>
    <div class="item">
      <img src="../assets/images/image-baklava-mobile.jpg" alt="baklava">
      <p class="item-name">Baklava</p>
    </div>
    <div class="item">
      <img src="../assets/images/image-baklava-mobile.jpg" alt="baklava">
      <p class="item-name">Baklava</p>
    </div>
    <div class="item">
      <img src="../assets/images/image-baklava-mobile.jpg" alt="baklava">
      <p class="item-name">Baklava</p>
    </div>
    <div class="item">
      <img src="../assets/images/image-baklava-mobile.jpg" alt="baklava">
      <p class="item-name">Baklava</p>
    </div>
  </section>
</div>